@import "tailwindcss";

.almarai {
    font-family: "Almarai";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helius";
    src: url("/fonts/variable/Helius-Regular.otf") format("truetype");
}

.helius {
    font-family: "Helius";
    font-weight: 400;
    font-style: normal;
}

.heading-helius {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: Helius;
    font-size: 55px;
    font-style: "Helius";
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1.2px;
}

/* iPad (768px - 1024px) */
@media screen and (max-width: 1024px) {
    .heading-helius {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1.12px;
    }
}

/* Mobile (320px - 767px) */
@media screen and (max-width: 767px) {
    .heading-helius {
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Helius;
        font-size: 32.961px;
        font-style: normal;
        font-weight: 400;
        line-height: 32.179px;
        /* 111.111% */
        letter-spacing: -0.579px;
    }
}


.sub-head {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: Helius;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    /* 142.857% */
    letter-spacing: -1.12px;
}

.content {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: "Helius";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 133.333% */
    letter-spacing: 0.36px;
}

.content-head {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: Helius;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 100% */
    letter-spacing: 1px;
}