@import "tailwindcss";

@font-face {
    font-family: "Scto";
    src: url('/fonts/scto.ttf');
}

.roboto {
    font-family: "Roboto Flex";
    font-weight: 400;
    font-style: normal;
}

.almarai {
    font-family: "Almarai";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helius";
    src: url("/fonts/variable/Helius-Regular.otf") format("truetype");
}

.scto {
    font-family: "Scto";
    font-weight: 400;
    font-style: normal;
}

.scto-head {
    color: #222836;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: "Scto";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 100% */
    letter-spacing: -5.04px;
}

.helius {
    font-family: "Scto";
    font-weight: 400;
    font-style: normal;
}

.heading-helius {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: "Scto";
    font-size: 55px;
    font-style: "Scto";
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 1.2px;
}

/* iPad (768px - 1024px) */
@media screen and (max-width: 1024px) {
    .heading-helius {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1.12px;
    }
}

/* Mobile (320px - 767px) */
@media screen and (max-width: 767px) {
    .heading-helius {
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Helius;
        font-size: 32.961px;
        font-style: normal;
        font-weight: 400;
        line-height: 32.179px;
        /* 111.111% */
        letter-spacing: -0.579px;
    }
}


.sub-head {
    color: #222836;
    leading-trim: both;
    text-edge: cap;
    font-family: "Scto";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 72px;
    /* 180% */
    letter-spacing: -2.4px;
}

.content {
    color: #4F4F4F;
    leading-trim: both;
    text-edge: cap;
    font-family: "Roboto Flex";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 150% */
}

.content-head {
    color: #1F2125;
    leading-trim: both;
    text-edge: cap;
    font-family: Helius;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 100% */
    letter-spacing: 1px;
}